.head {
    text-align: center;
}

.sub {
    text-align: center;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.member {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}

.imgBorder {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.teamImg {
    width: 100%;
    height: auto;

}
